
.bu3 {
  background-color: rgb(210, 210, 177); /* 示例背景色 */
  
  position: absolute;
  margin: 10px;

  left: 0px;
  width: 400px;
  height: 200px;
}
.bu301 {
  background-color: rgb(68, 190, 135); /* 示例背景色 */
  
  position: absolute;
  margin: 10px;

  left: 0px;
  width: 400px;
  height: 200px;

}
.bu4{ 
  width: 200px;
  height: 130px;
  margin: 10px;
 
}

.U402_bution1{
  display: flex;

}

.U402_bution2_0 {
  position: absolute; /* 绝对定位 */
  top: 3px; /* 距离容器顶部20px */
  left: 10px; /* 距离容器左侧30px */
  background-color: yellow; /* 示例背景色 */
  padding: 10px; /* 内边距 */
 
}
.U402_bution2_1 {
  position: absolute; /* 绝对定位 */
  top: 3px; /* 距离容器顶部20px */
  left: 70px; /* 距离容器左侧30px */
  background-color: yellow; /* 示例背景色 */
  padding: 10px; /* 内边距 */
}
.U402_bution2_2 {
  position: absolute; /* 绝对定位 */
  top: 3px; /* 距离容器顶部20px */
  left: 170px; /* 距离容器左侧30px */
  background-color: yellow; /* 示例背景色 */
  padding: 10px; /* 内边距 */
}
.outer {
  width: 200px;
  margin: 10px;
  padding: 10px;
  
}
.d {

  width: 300px;
  height: 200px;
  
}
.d1 {
  

  top: 0px; /* 距离容器顶部20px */
  left: 30px; /* 距离容器左侧30px */
 
  width: 400px;
  height: 200px;
}
.u4b3juzhong{

  justify-content: center;
  align-items: center;

}
.bu5{
  display: flex;
  
  
  /*transform: translateY(10px); */
  margin-top: 0px;
}
.bu6{
  display: flex;
 

  left: 90px;
}
.d2 {
  position: absolute; /* 绝对定位 */
  top: 270px; /* 距离容器顶部20px */
  left: 10px; /* 距离容器左侧30px */
  background-color: rgb(45, 142, 174);
  width: 300px;
  height: 200px;
}
.d3 {
  position: absolute; /* 绝对定位 */
  top: 490px; /* 距离容器顶部20px */
  left: 10px; /* 距离容器左侧30px */
  background-color: rgb(92, 214, 147);
  width: 300px;
  height: 180px;
}
.e {
  position: absolute; /* 绝对定位 */
  top: 62px; /* 距离容器顶部20px */
  left: 400px; /* 距离容器左侧30px */
  width: 300px;
  height: 200px;

  
}
.e1 {
  position: absolute; /* 绝对定位 */
  top: 62px; /* 距离容器顶部20px */
  left: 400px; /* 距离容器左侧30px */
  width: 300px;
  height: 200px;
  background-color: rgb(231, 166, 220);
}
.e2 {
  position: absolute; /* 绝对定位 */
  top: 270px; /* 距离容器顶部20px */
  left: 400px; /* 距离容器左侧30px */
  background-color: rgb(95, 112, 226);
  width: 300px;
  height: 200px;

}

.e3 {
  position: absolute; /* 绝对定位 */
  top: 490px; /* 距离容器顶部20px */
  left: 400px; /* 距离容器左侧30px */
  background-color: rgb(193, 224, 121);
  width: 300px;
  height: 180px;

}
.ziti1{
  font-size: 23px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:900;


}
.f{


}
.selectout{
  position:absolute;
  top: 70px;
  left: 430px;

}
.th {
  /*background-color: #4CAF50; /* 绿色 */
  /*border: none;*/
  color: rgb(43, 42, 42);
  /*padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;*/
}

.th1 {background-color: #95d19f;} /* 蓝色 */
.th2 {background-color: #f44336;} /* 红色 */
.th3 {background-color: #e7e7e7; color: black;} /* 灰色 */
.th4 {background-color: #555555;} /* 黑色 */